{% extends  'starter-page.html' %}
{% load static %}
{% block body %}
	<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Kenya<span>Rentals</span></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" >Home</a></li>
          <li><a href="{% url 'about' %}" >About</a></li>
          <li><a href="{% url 'services' %}" >Services</a></li>
          <li><a href="{% url 'properties' %}" class="active">Properties</a></li>
          <li><a href="{% url 'agents' %}">Agents</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Property Single</h1>
              <p class="mb-0">Located at the heart of Nairobi city, surround yourself within a secure community with access to various social amenities such as schools,hospitals and the nearby TWIN Mall.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Property Single</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Real Estate 2 Section -->
    <section id="real-estate-2" class="real-estate-2 section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{% static 'assets/img/property-slide/property-slide-1.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/property-slide/property-slide-2.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/property-slide/property-slide-3.jpg' %}" alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">

            <div class="portfolio-description">
              <h2>Modern Home with Scenic Views</h2>
              <p>
                An open-concept design with natural light streaming through large windows, highlighting the stylish finishes and contemporary décor.
              </p>
              <p>
                Fully equipped with high-end stainless-steel appliances, granite countertops, a large island, and ample storage space—ideal for both casual meals and entertaining guests.
              </p>

              <p>
                A beautifully landscaped backyard with a covered patio—perfect for relaxing or hosting gatherings while enjoying picturesque views of the surrounding hills.
              </p>

              <p>
                Nestled in a quiet, family-friendly neighborhood just minutes away from top-rated schools, shopping centers, dining, and parks.
              </p>

              <div class="testimonial-item">
                <p>
                  <span>This property offers the perfect blend of comfort, convenience, and sophistication. Don’t miss the opportunity to make it yours! Get in touch</span>
                </p>
                <div class="d-flex flex-row">
                  <div >
                  <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Agent</h4>
                  </div>
                <div class="mt-4">
                       <a href="https://wa.me/+254790931766" class="btn btn-outline-success"> Contact</a>
                       <a href="{% url 'pay' %}" class="btn btn-outline-warning"> Pay</a>
                        <p>Only pay via the platform after talking to the agent and confirming the availability of the house!!!</p>
                </div>
                </div>
              </div>
            </div><!-- End Portfolio Description -->

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#real-estate-2-tab1">Video</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab2">Floor Plans</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab3">Location</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="real-estate-2-tab1">

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade" id="real-estate-2-tab2">
                <img src="{% static 'assets/img/floor-plan.jpg' %}" alt="" class="img-fluid">
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade" id="real-estate-2-tab3">
                <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div><!-- End Tab 3 Content -->

            </div><!-- End Tab Content -->

          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Quick Summary</h3>
              <ul>
                  {% for image in images %}
                  	if image


                <li><strong>Property ID:</strong> 1134n</li>
                <li><strong>Location:</strong> Chicago, IL 606543</li>
                <li><strong>Property Type:</strong> House</li>
                <li><strong>Status:</strong> Sale</li>
                <li><strong>Area:</strong> <span>340m <sup>2</sup></span></li>
                <li><strong>Beds:</strong> {{ image.beds }}</li>
                <li><strong>Baths:</strong> 1</li>

                  {% endfor %}
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Real Estate 2 Section -->

  </main>
{% endblock %}