{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
<main class="main">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Kenya<span>Rentals</span></h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'agents' %}">Agent Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
<h2 class="text-center">New Properties</h2>
<div class="container">
<div style="display: flex; justify-content:space-between; flex-wrap: wrap">
    {% for house in property %}
        <div class="col mb-2">
            <img src="{{ house.house.url }}" alt="Uploaded Image" style="width: 300px;height:300px"> <br>
            <p><strong>Rent :</strong>{{ house.rent }}</p>
            <p><strong>Title :</strong>{{ house.title }}</p>
            <p><strong>Area :</strong>{{ house.area }}</p>
            <p><strong>Beds :</strong>{{ house.beds }}</p>
            <p><strong>Bathrooms :</strong>{{ house.baths }}</p>
            <p><strong>Garage :</strong>{{ house.garage }}</p>
        </div>

    {% endfor %}

</div>

</div>
</main>
{% endblock %}